magacin.dtd

<!ELEMENT Artikal (Naziv, DatumIzrade, Cena, Kompanija, Email)>

<!ELEMENT Naziv (#PCDATA)>
<!ATTLIST Naziv sifra CDATA>

<!ELEMENT DatumIzrade (Dan, Mesec, Godina)>
<!ELEMENT Dan (#PCDATA)>
<!ELEMENT Mesec (#PCDATA)>
<!ELEMENT Godina (#PCDATA)>

<!ELEMENT Cena (#PCDATA)>
<!ATTLIST Cena tip (eur|din) "din">

<!ELEMENT Kompanija (ImeKompanije, (Adresa)+)>
<!ELEMENT ImeKompanije (#PCDATA)>
<!ELEMENT Adresa (#PCDATA)>

<!ELEMENT Email (#PCDATA)>
<!ATTLIST Email tip (privatni|sluzbeni) #REQUIRED>
